*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li, p, button{
  letter-spacing: .1rem;
  font-size: 1.7rem;
}

.header{
  height: 10rem;
  box-shadow: rgb(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #d4e6f1;
  width: 100%;
}
.container{
  max-width: 132rem;
  margin: auto;

}